.parallax {
    /*background-image: url("https://media.bitdegree.org/storage/media/images/2018/08/what-is-a-web-developer.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative*/
    height: 100vh;
    /*background:gray;*/
}

.profileInfo {
    margin: 0;
    font-style: initial;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.test {
    background-color: #0e76a8;
    border: 1px solid white;
    border-radius: 3px;
    color: #231E39;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    padding: 10px 25px;
}

.test:hover {
    background-color: transparent;
    color: white;
    }
/*.test:focus {
    border: red;
    color: white;
    background-color: lightblue;
    box-shadow: none;
    outline: none;
}*/
