@{
    ViewBag.Title = "";
}
<br />
<br />
<div>
    <center><h2>ABOUT</h2></center>
</div>
<div class="card">
    <img src="" alt="Grace" style="width:100%">
    <h1>Mary Grace Cordoto</h1>
    <h5><i>"The expert at anything was once a beginner"</i></h5>
    <p class="title">PN Scholar</p>
    <h4>University of San Carlos</h4>
    <div style="margin: 24px 0;">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <p><button class="icon" type="button">Contact</button></p>
    <br />
</div>
<link rel="stylesheet" href="~/Content/AboutStyle.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row">

</div>