@{
    ViewBag.Title = "";
}
<div class="">
    <div id="test" class="parallax">
        <div class="card profileInfo">
            <h1>Hi, I'm <b style="color:lightpink">Mary grace Cordoto</b>. </h1>
            <h1>I am a Web Developer.</h1>
            <center><button id="viewWork" class="test" type="button">View my work</button></center>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<link rel="stylesheet" href="~/Content/portfolio.css" type="text/css" />
<script src="~/Scripts/three.r95.min.js"></script>
<script src="~/Scripts/vanta.birds.min.js"></script>
<script>
    VANTA.BIRDS({
        el: "#test",
        mouseControls: true,
        touchControls: true,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00,
        scaleMobile: 1.00
    })

    $('#viewWork').on('click', function () {
        $.ajax({
            url: 'Home/About',
            data: {},
            type: 'GET',
            success: function (result) {
                window.location.href = "/Home/About"
            },
            error: function (error) {
                console.log(error)
            }
        });
    });
</script>

