
<link rel="stylesheet" href="~/Content/Project.css" type="text/css" />
<div class="container">
    <div class="row">
        <br />
        <div class="alrazy-title" data-splitting>Projects</div>
        <script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
        <script>
            Splitting();
        </script>
        <br />
        <div class="col4">
            <div class="box-fx boxes">
                <h4><b>Bus Reservation System</b></h4>
                <p>Tools:</p>
                <ul>
                    <li>ReactJs</li>
                    <li>Node-Express</li>
                    <li>NoSql(MongoDB)</li>
                </ul>
            </div>
        </div>
        <div class="col4">
            <div class="box-fx boxes">
                <h6> React Js Projects</h6>
            </div>
        </div>

        <div class="col4"> 
            <div class="box-fx boxes">
                <h6> React Js Projects</h6>
            </div>
        </div>
    </div>
</div>


