
@{
    ViewBag.Title = "Resume";
}

<br />
<div class="alrazy-title resume" data-splitting>Resume</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<link rel="stylesheet" href="~/Content/Resume.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script>
    Splitting();
</script>
<br />
<div >
    <iframe src="~/Assets/resume.pdf" width="700px" height="800px" ></iframe>
</div>
